<div class="hero">
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Learn gardening from experts</h1>
    <br />
    <h2>Get all the info from your home!</h2>
    <br />
    <%= link_to 'Learn more!', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <figure>
      <%= image_tag 'inst-video.png', class: 'figure-img img-fluid rounded' %>
      <figcaption class="figure-caption">Step by step instructional videos ranging from seedling, to pruning, to disease prevention</figcaption>
    </figure>
  </div>

  <div class="col-12 col-sm">
    <figure>
      <%= image_tag 'diy.png', class: 'figure-img img-fluid rounded' %>
      <figcaption class="figure-caption">handyman/woman at heart? Get ideas for DIY structures!</figcaption>
    </figure>
  </div>

  <div class="col-12 col-sm">
    <figure>
      <%= image_tag 'check-list.png', class: 'figure-img img-fluid rounded' %>
      <figcaption class="figure-caption">Gardening gets confusing! That's why checklists are golden!</figcaption>
    </figure>
  </div>
</div>
