<div class="col-10 offset-1 sign-box text-left privacy">
  <h2>Project Description</h2>
  <br />
  <p>This web app was completed as the third project of <a href="https://www.thefirehoseproject.com">The Firehose Project</a> curriculum.</p>
  
  <h3>Current Features</h3>

  <br />
  <h3>Upcoming Features</h3>
</div>