<br />

<div class="sign-box col-10 offset-1">
  <h1>Add a new Section</h1>
  <br />
  <%= simple_form_for @section, url: instructor_course_sections_path(current_course) do |f| %>
  <%= f.input :title, required: true %>
  <br />
  <br />
  <%= f.submit "Add Section", class: 'btn btn-warning' %>
  <% end %>
  <br />
</div>