@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Audiowide|Quantico|Philosopher');
/*font-family: 'Audiowide', cursive;
font-family: 'Quantico', sans-serif;
font-family: 'Philosopher', sans-serif;*/

body {
  background: image_url('bg.png');
  background-color: #cae6fc;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}


.navbar {
  background: image_url('nav-bg.png');
  font-family: 'Audiowide', cursive;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background-color: #245400;
}
.navbar-inverse a.navbar-brand {
  font-size: 30px;
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 8px #2a2a2a;
}
.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: #A3DDF0;
  margin: auto;
}
.frosty h1 {
  font-family: 'Quantico', sans-serif;
  font-size: 300%;
  text-shadow: rgba(0, 0, 0, 0.95) 3px 3px;
}
.frosty h2 {
  font-family: 'Philosopher', sans-serif;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
}
.feature {
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
}
.sign-box {
  border-radius: 5px;
  -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  transition: box-shadow .3s ease;
  margin-top: 20px;
  margin-bottom: 15px;
}