@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Corben|Fondamento|Headland+One|Metamorphous|Mr+De+Haviland|Oleo+Script+Swash+Caps|Qwigley');
/*font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Mr De Haviland', cursive;
font-family: 'Fondamento', cursive;
font-family: 'Corben', cursive;
font-family: 'Qwigley', cursive;
font-family: 'Headland One', serif;
font-family: 'Metamorphous', cursive;*/
@import url('https://fonts.googleapis.com/css?family=Audiowide|Quantico|Philosopher');
/*font-family: 'Audiowide', cursive;
font-family: 'Quantico', sans-serif;
font-family: 'Philosopher', sans-serif;*/

body {
  background: image_url('bg.png');
  background-color: #cae6fc;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}
ul.sections li {
  text-align: left;
}
ul.sections {
  padding-left: 0;
}
ul {
  list-style-type: none;
}
ul .header {
  font-size: 20px;
}

.navbar {
  background: image_url('nav-bg.png');
  font-family: 'Fondamento', cursive;
  font-weight: 200;
  font-size: 150%;
  box-shadow: 0px 1px 3px #2a2a2a;
  background-color: #245400;
}
.navbar-inverse a.navbar-brand {
  font-size: 40px;
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 8px #2a2a2a;
}
.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: #A3DDF0;
  margin: auto;
}
.frosty h1 {
  font-family: 'Corben', cursive;
  font-size: 250%;
  text-shadow: rgba(0, 0, 0, 0.95) 3px 3px;
}
.frosty h2 {
  font-family: 'Philosopher', sans-serif;
  font-size: 150%;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
}
.feature {
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
}
.sign-box {
  border-radius: 5px;
  -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  transition: box-shadow .3s ease;
  margin-top: 20px;
  margin-bottom: 15px;
}
.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10%;
}
.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}
.lesson {
  background-color: #83C45A;
  padding-top: 5px;
}
.lessons li {
  background: #5CD0F7;
  padding-left: 5px;
  margin: 5px;
}
.lesson a{
  color: white;
  font-family: 'Corben', cursive;
  font-weight: 100;
  font-size: 15px;
}
.lesson a b {
  font-weight: 100;
  font-size: 20px;
}
.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}
.lesson-container {
  display: flex;
}
.lesson-container > div {
  flex: 1;
}
.grabbable {
    cursor: grab;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.privacy h2 {
  text-align: center;
}
.clr {
  clear: both;
}

@media (max-width: 480px) {
  ul.lessons {
    padding-left: 0;
  }
  .lesson-container {
    display: block;
  }
  .navbar-inverse a.navbar-brand {
    font-size: 100%;
  }
  .navbar-inverse .navbar-nav > li {
    font-size: 75%;
  }
  .privacy ol p ul{
    font-size: 11px;
  }
  .social {
    margin-top: 5px;
  }
  .modal-footer {
    display: block;
    text-align: center;
  }
  h1.mobile-tag {
    font-size: 1.75rem;
  }
  h1 {
    font-size: 1.75rem;
  }
  .mobile-tag a {
    font-size: 1.25rem;
  }
}